.icons-raw {
  display: flex;
  justify-content: space-between;
}

.icons-raw__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-raw__icon i {
  font-size: 30px;
}

.icons-raw__icon span {
  margin-top: 20px;
}
