.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
/*padding때문에 아이콘 하나가 사라지는 문제가 발생!
--> box-sizing을 이용해서 해결가능했다!
--> border-box : padding할 때 box전체의 크기가 늘어나는 css의 동작방식을
억제시키기 위해 사용할 수 있는 방법!*/

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  background-color: tomato;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 16px;
}

.nav__notification2 {
  background-color: tomato;
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  left: 28px;
  bottom: 25px;
}
